@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-footer {
    background-color: v.$rosa;
    padding: 1rem;
    text-align: center;
    
    p {
        margin: 0;
        color: v.$blanco;
    }
}